<!DOCTYPE html>
<html>
	<head>
		<title>{% block titulo %}Welcome!{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{debug_head()}}
	</head>
	<body>

	<table>
		{% for x,group in results|batch(4) %}
		<tr>
			{% for x,ent in group %}
			<td>
				<div style="text-align: center;">
					<img src="{{ ent.color }}" height="40%" width="40%">
					<br>
					<span style="border:1px solid red;">
						{{ ent.name }}<br>
						{{ ent.timestamp }}<br>
						{{ ent.result }} (bld {{ ent.number }})<br>
                        <br>
					</span>
				</div>
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
    <p>
        Updated at: {{ timestamp }}
        {% if refresh != '' %}
        (refresh in {{ refresh }} seconds)
        {% endif %}
    </p>

    {{debug_bar()}}
	</body>
</html>
