{% extends "layout.twig" %}

{% block content %}

    <table>
        {% for x,group in results|batch(5) %}
        <tr>
            {% for x,ent in group %}
            <td>
                <div style="text-align: center;">
                    <img src="{{ ent.color }}" height="40%" width="40%">
                    <br>
                    <span style="border:1px solid red;">
                        {{ ent.name }}<br>
                        {{ ent.timestamp }}<br>
                        {{ ent.result }} (bld {{ ent.number }})<br>
                        {{ ent.host }}<br>
                        <br>
                    </span>
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <p>
    <table>
      <tr>
        <td>
            <img src={{ face }} width="100" height="100">
        </td>
        <td>
          {% for k,v in summary %}
            {{ k }} {{ v }}
          {% endfor %}
          <br>
          <br>
          Updated at: {{ timestamp }}
          <br>
          {% if refresh != '' %}
          (refresh in {{ refresh }} seconds)
          {% endif %}
        </td>
      </tr>
    </table>
    </p>

{% endblock content %}
